* {
  box-sizing: border-box;
}

body {
  background-color: #f5e5cb;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}
body .container .square {
  background-color: #fff;
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
}
body .container .square:hover {
  transition-duration: 0s;
}