@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;

    .quiz-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
        max-width: 600px;
        overflow: hidden;
        width: 95%;

        h2 {
            margin: 0;
            padding: 1rem;
            text-align: center;
        }
        
        .quiz-header {
            padding: 2rem;

            @media (min-width: 768px) { padding: 2rem 4rem; }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    font-size: 1.2rem;
                    margin: 1rem 0;

                    input { cursor: pointer; }

                    label { cursor: pointer; }
                }
            }
        }

        button {
            background-color: #445cad;
            border: none;
            color: #fff;
            cursor: pointer;
            display: block;
            font-family: inherit;
            font-size: 1.1rem;
            padding: 1.3rem;
            width: 100%;

            &:hover { background-color: #607ee0; }

            &:focus {
                outline: none;
                background-color: #223a88;
            }
        }
    }

}