@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #383131;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 50px;
}
body .container {
  margin: 0 auto;
  max-width: 1200px;
}
body nav {
  background-color: #383131;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
body nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
body nav .container .logo a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
body nav .container ul {
  display: none;
  list-style-type: none;
}
@media (min-width: 768px) {
  body nav .container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
}
body nav .container ul li a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
body nav .container ul li a.current, body nav .container ul li a:hover {
  color: #c0392b;
  font-weight: bold;
}
body nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body nav.active .container {
  padding: 10px 0;
}
body nav.active .container .logo a, body nav.active .container ul li a {
  color: #000;
}
body .hero {
  background-image: url("https://images.unsplash.com/photo-1453227588063-bb302b62f50b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: -1;
}
body .hero .container h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}
body .hero .container p {
  font-size: 20px;
  letter-spacing: 1px;
}
body section h2, body section h3 {
  font-size: 150%;
  margin: 20px 0;
}
body section p {
  color: #555;
  letter-spacing: 1.2px;
  line-height: 30px;
}