@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #fff2b8;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body #buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body #buttons .btn {
  background-color: rgba(201, 33, 137, 0.8);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  margin: 16px;
  padding: 20px 40px;
}
body #buttons .btn:hover {
  opacity: 0.9;
}
body #buttons .btn:focus {
  outline: none;
}