@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f8f9fd;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container {
        border-radius: 5px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        width: 300px;

        .header {
            background-color: #00ad81;
            color: #fff;
            padding: 30px 20px;
            
            .title { margin: 0; }

            .subtitle {
                display: inline-block;
                margin: 5px 0 20px;
                opacity: 0.8;
            }

            input {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 50px;
                border: 0;
                color: #fff;
                font-size: 14px;
                padding: 10px 15px;
                width: 100%;

                &:focus { outline: none; }
                &::placeholder { color: rgba(255,255,255,0.5); }
                &::placeholderinput::-webkit-input-placeholder{ color: rgba(255,255,255,0.5);; }
                &:-moz-placeholder { color: rgba(255,255,255,0.5);; }
            }
        }

        .user-list {
            background-color: #fff;
            list-style-type: none;
            margin: 0;
            max-height: 400px;
            overflow-y: auto;
            padding: 0;

             li {
                display: flex;
                padding: 20px;

                &:not(:last-of-type) { border-bottom: 1px solid #eee; }

                &.hide { display: none; }

                img {
                    border-radius: 50%;
                    height: 50px;
                    object-fit: cover;
                    width: 50px;
                }

                .user-info {
                    margin-left: 10px;

                    h4 { margin: 0 0 10px; }

                    p { font-size: 12px; }
                }

            }
        }
    }
}