@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f9fd;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

body .container .header {
  background-color: #00ad81;
  color: #fff;
  padding: 30px 20px;
}

body .container .header .title {
  margin: 0;
}

body .container .header .subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}

body .container .header input {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  border: 0;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

body .container .header input:focus {
  outline: none;
}

body .container .header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body .container .header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body .container .header input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body .container .header input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body .container .header input::-webkit-input-placeholderinput::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body .container .header input::placeholderinput::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body .container .header input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body .container .user-list {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
  padding: 0;
}

body .container .user-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

body .container .user-list li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

body .container .user-list li.hide {
  display: none;
}

body .container .user-list li img {
  border-radius: 50%;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
}

body .container .user-list li .user-info {
  margin-left: 10px;
}

body .container .user-list li .user-info h4 {
  margin: 0 0 10px;
}

body .container .user-list li .user-info p {
  font-size: 12px;
}
