@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body #toasts .toast {
  background-color: #fff;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem 2rem;
}

body #toasts .toast.info {
  color: rebeccapurple;
}

body #toasts .toast.success {
  color: success;
}

body #toasts .toast.error {
  color: green;
}

body .btn {
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  color: rebeccapurple;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
}

body .btn:focus {
  outline: none;
}

body .btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
