@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eafbff), color-stop(50%, #eafbff), color-stop(50%, #d789f7), to(#5290f9));
  background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #d789f7 50%, #5290f9 100%);
  font-family: 'Muli', sans-serif;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  padding: 20px;
  -webkit-transition: width 0.6s linear;
  transition: width 0.6s linear;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: width 0.6s linear;
  transition: width 0.6s linear;
  width: 0;
}

body nav ul li {
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: opacity 0.6s linear, -webkit-transform 0.6s linear;
  transition: opacity 0.6s linear, -webkit-transform 0.6s linear;
  transition: transform 0.6s linear, opacity 0.6s linear;
  transition: transform 0.6s linear, opacity 0.6s linear, -webkit-transform 0.6s linear;
}

body nav ul li a {
  color: #000;
  margin: 0 10px;
  position: relative;
  text-decoration: none;
}

body nav .icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}

body nav .icon:focus {
  outline: 0;
}

body nav .icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}

body nav .icon .line.line2 {
  top: auto;
  bottom: 10px;
}

body nav.active {
  padding: 20px 20px 20px 15px;
  width: 350px;
}

body nav.active ul {
  width: 100%;
}

body nav.active ul li {
  opacity: 1;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

body nav.active .icon .line1 {
  -webkit-transform: rotate(-765deg) translateY(5.5px);
          transform: rotate(-765deg) translateY(5.5px);
}

body nav.active .icon .line2 {
  -webkit-transform: rotate(765deg) translateY(-5.5px);
          transform: rotate(765deg) translateY(-5.5px);
}
