@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #d789f7 50%, #5290f9 100%);
  font-family: "Muli", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  padding: 20px;
  transition: width 0.6s linear;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: width 0.6s linear;
  width: 0;
}
body nav ul li {
  cursor: pointer;
  opacity: 0;
  transform: rotateY(0deg);
  transition: transform 0.6s linear, opacity 0.6s linear;
}
body nav ul li a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin: 0 8px;
  position: relative;
  text-decoration: none;
}
@media (min-width: 500px) {
  body nav ul li a {
    margin: 0 10px;
  }
}
body nav .icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}
body nav .icon:focus {
  outline: 0;
}
body nav .icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}
body nav .icon .line.line2 {
  top: auto;
  bottom: 10px;
}
body nav.active {
  padding: 20px 20px 20px 10px;
  width: 310px;
}
@media (min-width: 500px) {
  body nav.active {
    padding: 20px 20px 20px 15px;
    width: 350px;
  }
}
body nav.active ul {
  width: 100%;
}
body nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}
body nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}
body nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}