* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: lightcoral;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .kinetic {
  position: relative;
  height: 80px;
  width: 80px;
}

body .kinetic:before, body .kinetic:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  -webkit-animation: rotateA 2s linear infinite 0.5s;
          animation: rotateA 2s linear infinite 0.5s;
  border: 50px solid transparent;
  border-bottom-color: #fff;
}

body .kinetic:before {
  -webkit-animation: rotateB 2s linear infinite;
          animation: rotateB 2s linear infinite;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes rotateA {
  0%, 25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%, 75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateA {
  0%, 25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%, 75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateB {
  0%, 25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50%, 75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes rotateB {
  0%, 25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50%, 75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
