@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .magic {
  background-color: #f5354b;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 3px 3px rgba(245, 114, 114, 0.6);
  z-index: 100;
}
body .magic:focus {
  outline: none;
}
body .magic:active {
  box-shadow: none;
  transform: translateY(2px);
}
body .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 200px;
  margin-top: 100px;
  position: relative;
  transition: 0.4s ease;
  width: 200px;
}
body .boxes.big {
  height: 300px;
  width: 300px;
}
body .boxes.big .box {
  margin: 12px;
}
body .boxes .box {
  background-image: url("https://media4.giphy.com/media/4XSc0NkhKJQhW/giphy.gif?cid=ecf05e47we3bjqhph3vnqpilr04x2q6g1etfws7b64s8y7h2&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  position: relative;
  height: 50px;
  width: 50px;
  transition: 0.4s ease;
}
body .boxes .box::after {
  content: "";
  background-color: #f5354b;
  height: 100%;
  position: absolute;
  right: -15px;
  top: 8px;
  transform: skewY(45deg);
  width: 15px;
}
body .boxes .box::before {
  content: "";
  background-color: #a71526;
  bottom: -15px;
  height: 15px;
  left: 8px;
  position: absolute;
  transform: skewX(45deg);
  width: 100%;
}
body .boxes.big .box {
  transform: rotateZ(360deg);
}