@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #fbf8d5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body h1 {
  margin: 10px;
}
body .box {
  background-color: #c9659a;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 10px;
  transform: translateX(400%);
  transition: transform 0.4s ease;
  height: 180px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .box:nth-of-type(even) {
  transform: translateX(-400%);
}
body .box.show {
  transform: translateX(0);
}
body .box h2 {
  font-size: 45px;
}