* {
  box-sizing: border-box;
}

body {
  background-color: #f7d3ab;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  body {
    flex-direction: column;
  }
}
body .empty {
  background: #fff;
  border: solid 3px #000;
  height: 150px;
  margin: 10px;
  width: 150px;
}
body .empty .fill {
  background-image: url("https://images.unsplash.com/photo-1519333796630-4b7d19ad1bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=150&q=80");
  cursor: pointer;
  height: 145px;
  width: 145px;
}
body .hold {
  border: solid 5px #ccc;
}
body .hovered {
  background-color: #999;
  border-color: #fff;
  border-style: dashed;
}