@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  text-align: center;
}

body .container .progress-container {
  margin-bottom: 30px;
  max-width: 99%;
  position: relative;
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .progress-container:before {
  background-color: #e0e0e0;
  content: '';
  height: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 99%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
}

body .container .progress-container .progress {
  background-color: #54b300;
  height: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 0%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
}

body .container .progress-container .circle {
  background-color: #fff;
  border: 3px solid #e0e0e0;
  border-radius: 50%;
  color: #999;
  height: 35px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .progress-container .circle.active {
  border-color: #54b300;
  color: #54b300;
  font-weight: bold;
}

body .container .btn {
  background-color: #54b300;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  margin: 5px;
  padding: 8px 35px;
}

body .container .btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

body .container .btn:focus {
  outline: 0;
}

body .container .btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
