@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 545px;
  overflow: hidden;
  width: 500px;
}
body .carousel .image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
body .carousel .image-container img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 500px;
}
body .carousel .buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
body .carousel .buttons-container .btn {
  background-color: #6d91bb;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  width: 49.5%;
}
body .carousel .buttons-container .btn:hover {
  opacity: 0.9;
}
body .carousel .buttons-container .btn:focus {
  outline: none;
}