@import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #fbfcfe;
  font-family: "Muli", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container {
  background-color: #fff;
  border-radius: 10px;
  border: 3px #000 solid;
  max-width: 1000px;
  padding: 30px 50px;
  text-align: center;
}
@media (max-width: 600px) {
  body .container {
    padding: 20px 10px;
    width: 90%;
  }
}
body .container .code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
body .container .code-container .code {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  border-radius: 5px;
  border: 1px solid #eee;
  caret-color: transparent;
  font-size: 75px;
  font-weight: 300;
  height: 120px;
  margin: 1%;
  text-align: center;
  width: 100px;
}
body .container .code-container .code::-webkit-outer-spin-button, body .container .code-container .code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .container .code-container .code:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 600px) {
  body .container .code-container .code {
    font-size: 30px;
    height: 40px;
    max-width: 40px;
  }
}
body .container .info {
  background-color: #eaeaea;
  border-radius: 5px;
  color: #777;
  display: inline-block;
  line-height: 20px;
  max-width: 400px;
  padding: 10px;
}