@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

$form-body-background-color: rgb(159, 255, 226);
$form-container-background-color: #fff;
$form-wave-font-color: #000;
$form-wave-active-font-color: rgb(255, 93, 174);


* {
    box-sizing: border-box;
}

body {
    background-color: $form-body-background-color;
    color: $form-wave-font-color;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
        background-color: $form-container-background-color;
        border-radius: 5px;
        max-width: 380px;
        padding: 20px 40px;
        width: 95%;

        h1 {
            margin-bottom: 30px;
            text-align: center;
        }

        form {
            .form-control {
                margin: 20px 0 40px;
                position: relative;

                input {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 2px $form-wave-font-color solid;
                    color: $form-wave-font-color;
                    display: block;
                    font-size: 18px;
                    padding: 15px 0 5px 0;
                    width: 100%;

                    &:focus, &:valid {
                        border-bottom-color: $form-wave-active-font-color;
                        outline: 0;
                    }

                    &:focus + label span,
                    &:valid + label span {
                        color: $form-wave-active-font-color;
                        transform: translateY(-30px);
                    }
                }

                label {
                    position: absolute;
                    top: 15px;
                    left: 0;

                    font-weight: bold;

                    span {
                        display: inline-block;
                        font-size: 18px;
                        min-width: 5px;
                        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }
                }
            }
        }

        .btn {
            background: $form-wave-active-font-color;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            font-family: inherit;
            font-size: 16px;
            font-weight: bold;
            padding: 15px;
            width: 100%;

            &:focus { outline: 0; }
            &:active { transform: scale(0.98); }
            &:hover { background: rgba($form-wave-active-font-color, 0.8); }
        }

        p.text {
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;

            a {
                color: $form-wave-active-font-color;
                text-decoration: none;

                &:hover { opacity: 0.8; }
            }
        }
    }
}