@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e0f1fd;
  font-family: 'Muli', sans-serif;
}

body h1 {
  color: #6523b6;
  margin: 50px 0 30px;
  text-align: center;
}

body .faq-container {
  margin: 0 auto;
  max-width: 600px;
}

body .faq-container .faq {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #f9c921;
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
  padding: 30px;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .faq-container .faq .faq-title {
  margin: 0 35px 0 0;
}

body .faq-container .faq .faq-answer {
  display: none;
  margin: 30px 0 0;
}

body .faq-container .faq .faq-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

body .faq-container .faq .faq-toggle .fa-times {
  display: none;
}

body .faq-container .faq .faq-toggle:focus {
  outline: 0;
}

body .faq-container .faq.active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

body .faq-container .faq.active .faq-answer {
  display: block;
}

body .faq-container .faq.active .faq-toggle {
  background-color: rgba(238, 114, 33, 0.6);
  border-radius: 50%;
  color: #fff;
}

body .faq-container .faq.active .faq-toggle .fa-times {
  display: block;
}

body .faq-container .faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

body .faq-container .faq.active:before, body .faq-container .faq.active:after {
  content: '\f075';
  color: #6523b6;
  font-family: 'Font Awesome 5 Free';
  font-size: 7rem;
  opacity: 0.2;
  z-index: 0;
  position: absolute;
  top: 20px;
  left: 20px;
}

body .faq-container .faq.active:before {
  color: #ee7221;
  left: -30px;
  top: -10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
