@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #ffc0cb;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .search {
  position: relative;
  height: 555px;
}
body .search .input {
  background-color: #fff;
  border: 0;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
  transition: width 0.3s ease;
  height: 55px;
  width: 55px;
}
body .search .btn {
  background-color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 55px;
  width: 55px;
}
body .search .btn i {
  color: #484848;
}
body .search input:focus, body .search .btn:focus {
  outline: none;
}
body .search.active {
  translate: -25px 0;
}
body .search.active input {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 0;
  width: 200px;
}
body .search.active .btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 6px;
  transform: translateX(198px);
}