@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    //background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    background-color: #ffc0cb;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;

    .search {
        position: relative;
        height: 555px;

        .input {
            background-color: #fff;
            border: 0;
            border-radius: 6px;
            font-size: 18px;
            padding: 15px;
            transition: width 0.3s ease;

            height: 55px;
            width: 55px;
        }

        .btn {
            background-color: #fff;
            border: 0;
            border-radius: 6px;
            cursor: pointer;
            font-size: 24px;
            transition: transform 0.3s ease;

            position: absolute;
            top: 0;
            left: 0;

            height: 55px;
            width: 55px;

            i {
                color: #484848;
            }
        }

        input:focus, .btn:focus {
            outline: none;
        }

        &.active {
            input {
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 0;
                border-top-left-radius: 6px;
                border-top-right-radius: 0;
                width: 200px;
            }

            .btn {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 6px;
                border-top-left-radius: 0;
                border-top-right-radius: 6px;
                
                transform: translateX(198px);
            }
        }
    }
}