@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .desktop-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
}
body canvas {
  border: 2px solid palevioletred;
  margin-top: 2rem;
  width: 310px;
}
@media (min-width: 576px) {
  body canvas {
    width: 600px;
  }
}
body .toolbox {
  background-color: palevioletred;
  border: 1px solid palevioletred;
  display: flex;
  padding: 1rem;
  width: 310px;
}
@media (min-width: 576px) {
  body .toolbox {
    width: 600px;
  }
}
body .toolbox > * {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.25rem;
  padding: 0.25rem;
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
body .toolbox > *:last-child {
  margin-left: auto;
}